<div mat-dialog-title>
    <h1>{{data.guardar ? 'Agregar producto': 'Editar producto'}}</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="categoria">
                    <mat-option *ngFor="let val of categorias" [value]="val">{{val.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data.guardar ? 'Guardar': 'Editar'}}</button>
    </div>
</form>